<%= form_for [@event, comment] do |f| %>
  <%= render partial: 'devise/shared/error_messages', locals: {resource: comment} %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Отправить', data: {turbo: false}, class: 'btn btn-primary' %>
  </div>
<% end %>
