<h2>Изменить пароль</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group row my-3">
    <div class="col-md-6">
      <%= f.label :password, I18n.t('actions.account.password.new') %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> букв минимум)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: I18n.t('activerecord.attributes.user.password') %>
    </div>
  </div>

  <div class="form-group row my-3">
    <div class="col-md-6">
      <%= f.label :password_confirmation, I18n.t('actions.account.password.confirm') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: I18n.t('actions.account.password.confirm') %>
    </div>
  </div>

  <div class="actions row my-3">
    <div class="col-md-3">
      <%= f.submit I18n.t('actions.account.password.change'), data: {turbo: false}, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
