<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'devise/shared/error_messages', locals: {resource: photo} %>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('buttons.upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
